*{
    
        font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
          
          
      
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/ghibli.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    color: black;
    font-weight: 600;
    
}

.header{
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    padding: 56px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.options{
    display: flex;
    gap: 15px;
}

.state{
    
    border: 1px solid white; 
    background-color: transparent;
    border-radius: 14px;
    color: black;
    padding: 8px;
    width: 150px;
    height: auto;
    font-size: 16px;
    font-weight: 800;
}

.pomodoro{
    background: white;
    border-color: white;
}
.timer{
    font-size: 150px;
    color:black;
    font-weight: 800;
    color: white;
}

.activity-bar{
    display: flex;
    gap: 15px;
    width: fit-content;
}
.start{
    background: white;
    border: 1px solid white;
    color: black;
    border-radius: 14px;
    padding: 8px 24px;
    font-size: 24px;
    font-weight: 600;
    width: 135px;
    height: auto;
}
.activity-right{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50px;
    height: auto;
}

.reset-container{
    font-size: 2.2em;
    color: white;
    background: transparent;
    border: 0px;
}

.settings-container{
    font-size: 2.2em;
    background: transparent;
    border: 0px;
    color: white;
}


.modal{
    background: black;  
    color: white; 
    position: fixed;
    padding: 25px;
    border: 0;
    border-radius: 14px;
    width: 400px;
    min-height: 200px;
    padding-right: 0;
    
}

.sidebar{
    color: white;
    border-right: 2px solid #444;
    padding-right: 5px;
}

.timer-settings{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.modal-inner{
    display: flex;
}
.modal-left{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 100%;
}
.modal-header{
    display: flex;
    justify-content: flex-end;
}
.modal-body{
    display: flex;
    width: auto;
    height: auto;
    flex: 1;
    margin-bottom: 25px;
}

.main-settings{
    display: flex;
    flex-direction: column;
    margin-left: 15px; 
    
}
.timer-page{
    display: flex;
    gap: 15px;
}

.minutes{
    width: 79px;
    background: black;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 17px;
}

.displayPage{
    display: flex;
    justify-content: center;
}
.bg-options{
    display: flex;
    background: black;
    border: 1px solid white;
    font-size: 15px;
    color: white;
    margin-top: 18px;   
    justify-content: center;
    margin-left: 12px;
    width: 200px;          
}

.timer-footer{
    color: #9a9393;
    font-size:12px;
}


.modal-footer{
    display: flex;
}

.footer-left{
    display: flex;  
    margin-right: auto;
    align-items: center;
}

.footer-right{
    display: flex;
    margin: 0;  
}

.footer-right-right{    
    display: flex;
    align-items: center;
    font-size: 4px;
    
}   
.reset-all{
    background: #ea1a1a;
    color: black;
    border: 2px solid #ea1a1a;
    border-radius: 24px;
    padding: 8px 16px;  
    font-size: 15px;

    
}
.close-modal{
    background: gray;
    color: white;
    border-color: black;
    border-radius: 24px;
    padding: 8px 15px;
    font-size: 15px;
    
}
.close-modal-mark{
    color: gray;    
}
.save-changes{
    background: white;
    color: black;
    border-color: white;
    border-radius: 24px;
    padding: 8px 16px;
    font-size: 15px;
    
}

.footer{
    width: 916px;
    height: 85px;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 0px 56px 56px 56px;
}
